.git
.gitignore
.venv
venv
env
__pycache__
*.pyc
.pytest_cache
.coverage
htmlcov
.env
.env.*
!.env.example
data/raw/*
logs
*.log
transformations/dbt/target
transformations/dbt/dbt_packages
transformations/dbt/logs
README.md
