streamlit==1.41.1
pandas==2.2.3
pydantic-settings==2.7.1
python-dotenv==1.0.1
snowflake-connector-python==3.12.4
snowflake-sqlalchemy==1.7.3
SQLAlchemy==2.0.36
cryptography==44.0.0
pyOpenSSL==24.3.0
requests==2.32.3
